---
title: 404
excerpt: "Page not found"
---
<!DOCTYPE html>
<html>
   <head>
      {% include head.html %}
      <style type="text/css">
         body {
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            width: 780px;
            height: 650px;
            left: 50%;
            top: 50%;
            margin-left: -390px;
            margin-top: -325px;
            text-align: center;
            background-color: rgb(237, 237, 237);
            color: rgb(100,100,100);
         }
      </style>
   </head>
   <body>
      <h2><img src="{{ site.notfoundimage }}" alt="Logo" /></h2>
      <h1>404</h1>
      <h3><b>Not Found</b></h3>
      <p>Link requested are not found in this server.<br />Please contact this website administrator<br />Discord: N4O#8868 | email: noaione0809@gmail.com</p>
      <span style="font-size: 10pt"><a href="{{ site.url }}">main page</a> || <a href="https://github.com/noaione/noaione.github.io">manage</a> || <a href="{{ site.url }}/release">release</a></span>
   </body>
   {% include scripts.html %}
</html>

