html {
  padding-top: 50px;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  text-align: center;
  background-color: #eeeeee;
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
html i, html em,
html b, html strong,
html span {
  transition: none;
}

#img_holder {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	position: relative;
	margin-bottom: 1em;
	box-shadow: 0px 0px 20px 2px #545454;
}

*:before,
*:after {
  z-index: -1;
}

h1,
h4 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
	width: 50%;
	float: left;
  }
}
[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-h-l {
  color: #a27263;
}
.btn-h-l:before, .btn-h-l:after,
.btn-h-l span:before,
.btn-h-l span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(87, 53, 43, 0.25);
  transition: 0.4s ease-in-out;
}
.btn-h-l:after,
.btn-h-l span:before {
  top: auto;
  bottom: 0;
}
.btn-h-l span:before,
.btn-h-l span:after {
  transition-delay: 0.4s;
}
.btn-h-l:hover {
  color: #e4d6d1;
}
.btn-h-l:hover:before, .btn-h-l:hover:after,
.btn-h-l:hover span:before,
.btn-h-l:hover span:after {
  height: 80px;
}
.btn-h-l:active {
  background-color: #915947;
}

.btn-v-l {
  color: #515cb0;
}
.btn-v-l:before, .btn-v-l:after,
.btn-v-l span:before,
.btn-v-l span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  background-color: rgba(30, 38, 97, 0.25);
  transition: 0.4s;
}
.btn-v-l:after,
.btn-v-l span:before {
  left: auto;
  right: 0;
}
.btn-v-l span:before,
.btn-v-l span:after {
  transition-delay: 0.4s;
}
.btn-v-l:hover {
  color: #cccfe8;
}
.btn-v-l:hover:before, .btn-v-l:hover:after,
.btn-v-l:hover span:before,
.btn-v-l:hover span:after {
  width: 250px;
}
.btn-v-l:active {
  background-color: #323fa2;
}