@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; 
}

#inner {
    margin: auto;
    width: 50%;
    box-shadow: 0 0 5px 2px #777777;
    padding: 10px;
    background-color: white;
    animation: fadein 2s;
}

body, h1, h2, h3, a, p {
    font-size-adjust: inherit;
}

.thumbnail-image {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #bd2929;
}
a:visited {
    color: #561010;
}

a.greenText, a.greenText:visited {
    color: #3fa74c;
}

.bullet {
    margin-top: 0em;
    margin-left: 0.8em;
}

.header {
    margin: 0.2em 0em 0.4em 0em;
    text-align: center;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.greenText {
    color: #3fa74c;
    font-style: italic;
}

.infosection {
    height: 115%;
}

.link, .credit, .other-link, .info {
    margin-left: 0.4em;
    box-shadow: 0 0 0px 0px black;
}

.bullet_info {
    left: 1em;
    position: relative;
}

/* Mobile version */

@media only screen and (max-width: 420px) {
    body {
        background: white
    }
    #inner {
        margin: auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 0px 0px #777777;
        padding-left: 3px;
    }
    .header {
        font-size: 1.2em;
        padding-bottom: 5px;
    }

    p {
        font-size: 1em;
    }

    h3, .bullet_info, .link, .credit, .other-link, .info , a, a:visited, .infosection {
        font-size: 0.9em;
    }
    .bullet_info {
        left: 0.3em;
        right: 0.1em;
    }
    .infosection {
        margin-left: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
}

/* Tablet Mode */
@media only screen and (min-width: 421px) and (max-width: 960px) {
    #inner {
        margin: auto;
        width: 80%;
        background-color: white;
        box-shadow: 0 0 1px 2px #777777;
        height: 100%;
    }
    .header {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    h3, .bullet_info, .link, .credit, .other-link, .info , a, a:visited, .infosection {
        font-size: 1.1em;
    }
    .bullet_info {
        left: 0.7em;
        right: 0.1em;
    }
    .infosection {
        margin-left: 0.2em;
        margin-top: 0.7em;
        margin-bottom: 0.4em;
    }
}


@keyframes fadein {
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}

@-webkit-keyframes rotation {
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}
