body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; 
	background-color: #eeeeee;
}

#inner {
    margin: auto;
    width: 50%;
    box-shadow: 0 0 5px 2px #777777;
    padding: 10px;
    background-color: white;
    animation: fadein 2s;
}

body, h1, h2, h3, a, p {
    font-size-adjust: inherit;
}

.thumbnail-image {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #bd2929;
    text-decoration: none;
    transition: all 0.25s;
}

a:hover {
    text-decoration: underline;
    color: #9e2626;
}

a:visited {
    color: #561010;
}

a.greenText, a.greenText:visited {
    color: #3fa74c;
}

.header {
    margin: 0.2em 0em 0.4em 0em;
    text-align: center;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.greenText {
    color: #3fa74c;
    font-style: italic;
    margin-left: 0px !important;
}

.infosection {
	margin-top: 1.5em;
    height: 115%;
	margin-bottom: 0.5em;
	text-align: center;
}

.info-head {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
}

.info-img {
	opacity: 1.0;
	transition: all 0.25s;
}

.info-img:hover, .info-img:active {
	opacity: 0.7;
}

.staff-list {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
	font-size: 1em;
}

.btn--dl, .btn-dl:visited {
	background-color: #87a3bb;
	border: none;
	color: white !important;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;		
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition: all 0.25s;
	border-radius: 5px;
}

.btn--dl:hover, .btn--dl:active {
	background-color: #68839a;
	border-radius: 15px;
	text-decoration: none;
}

.btn--dl-disabled {
	background-color: #6f4343;
	color: #dedede !important;
	cursor: not-allowed;
	border-radius: 5px;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;		
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
}

.btn--dl-disabled:hover, .btn--dl-disabled:active {
	text-decoration: none;
}

/* Mobile version */

@media only screen and (max-width: 420px) {
    body {
        background: white
    }
    #inner {
        margin: auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 0px 0px #777777;
        padding-left: 3px;
    }
    .header {
        font-size: 1.2em;
        padding-bottom: 5px;
    }

    p {
        font-size: 1em;
    }

    h3, .link, .credit, .other-link, .info , a, a:visited, .infosection {
        font-size: 0.9em;
    }
    .bullet_info {
        left: 0.3em;
        right: 0.1em;
    }
    .infosection {
        margin-left: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
}

/* Tablet Mode */
@media only screen and (min-width: 421px) and (max-width: 960px) {
    #inner {
        margin: auto;
        width: 80%;
        background-color: white;
        box-shadow: 0 0 1px 2px #777777;
        height: 100%;
    }
    .header {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    h3, .link, .credit, .other-link, .info , a, a:visited, .infosection {
        font-size: 1.1em;
    }
    .bullet_info {
        left: 0.7em;
        right: 0.1em;
    }
    .infosection {
        margin-left: 0.2em;
        margin-top: 0.7em;
        margin-bottom: 0.4em;
    }
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    animation: fadein 0.25s;
}
  
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    animation: fadein 0.25s;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    animation: fadein 0.25s;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    animation: fadein 0.25s;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    animation: fadein 0.25s;
}

@keyframes fadein {
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}

@-webkit-keyframes rotation {
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}
