<!DOCTYPE html>
<html xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class="scriptsOn" data-theme="light">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/home.css">
    <script>
        let preferWhat = localStorage.getItem("n4otheme");
        let darkMatch = window.matchMedia("(prefers-color-scheme: dark)");
        if (preferWhat !== null) {
            if (preferWhat === "dark") {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        } else {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                localStorage.setItem("n4otheme", "dark");
            }
            preferWhat = localStorage.getItem("n4otheme");
            if (preferWhat === "dark") {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
        if (window.matchMedia) {
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener("change", function (event) {
                if (event.matches) {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem("n4otheme", "dark");
                } else {
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem("n4otheme", "light");
                }
            })
        }
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body id="body" class="light">
    <img id="img_holder" src="{{ site.avatar }}" alt="Website Author">
    <!-- Modal -->
    <div class="centerer">
        <h1>N4O Blog</h1>
        <h2>Blog Directory</h2>
        <div class="wrap">
            <a class="btn-h-l" href="https://n4o.xyz"><span>Home</span></a>
            <a class="btn-v-l" href="https://blog.n4o.xyz/"><span>Blog</span></a>
        </div>
        <div class="wrap">
            <a class="btn-v-l" href="/release"><span>Release</span></a>
            <a class="btn-h-l" href="https://github.com/noaione/noaione.github.io"><span>Manage</span></a>
        </div>
        <a href="/holoism"><img width="50" height="50" src="https://cdn.discordapp.com/emojis/643678659298983957.png" alt="Ahoy!"></a>
        <a href="/holo9weeks"><img width="50" height="50" src="https://cdn.discordapp.com/emojis/663796277137506333.png" alt="Hololive"></a>
    </div>
    {% include theme_toggler.html %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90117853-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-90117853-5');
    </script>
    <!-- Plausible -->
    <script async defer data-domain="shigoto.n4o.xyz" src="https://tr.n4o.xyz/js/plausible.js"></script>
</body>
</html>
