<html xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class=" scriptsOn" data-theme="light">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/releasev2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">
    <script>
        function forEach(elem, cb) {
            for (let i = 0; i < elem.length; i++) {
                console.info(elem[i]);
                cb(elem[i]);
            }
        }
        let preferWhat = localStorage.getItem("n4otheme");
        let darkMatch = window.matchMedia("(prefers-color-scheme: dark)");
        if (preferWhat !== null) {
            if (preferWhat === "dark") {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        } else {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                localStorage.setItem("n4otheme", "dark");
            }
            preferWhat = localStorage.getItem("n4otheme");
            if (preferWhat === "dark") {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
        if (window.matchMedia) {
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener("change", function (event) {
                if (event.matches) {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem("n4otheme", "dark");
                } else {
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem("n4otheme", "light");
                }
            })
        }
    </script>
    <style>
    .frame {
        display: block;
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0 none;
        box-sizing: border-box;
    }
    </style>
</head>
<body id="body">
    <header id='top' class='main-header'>
        <div class='module title color-2'>
            <h1 style="color: #f2f2f2;">{{ site.title }}</h1>
            <span style="color: #f2f2f2;">Simple guy doing fansubbing works</span>
        </div>
        <nav class='module main-menu color-4'>
            <a href='/'>Home</a>
            <a href='https://blog.n4o.xyz/'>blog</a>
            <a href='https://github.com/noaione'>GitHub</a>
            <a href="/{% if page.linkto != 'release' %}{{ 'release/' | append: page.linkto }}{% else %}{{ page.linkto }}{% endif %}">{{ page.linkto }}</a>
			<a href="https://discord.gg/d49CfCb">Discord</a>
            <a href='/feed.xml'>RSS</a>
        </nav>
        <div class="module color-3">
            <script>
                /**
                * Resize iframe naoTimes ketika sudah load.
                */
                console.info("Waiting for message!")
                window.addEventListener("message", function (event) {
                    // Periksa apakah pesan dari embed naotimes apa tidak
                    if (!event.origin.startsWith("https://panel.naoti.me") && !event.origin.startsWith("http://127.0.0.1:5000")) {
                        return;
                    }
        
                    // Parse data yang dikirim oleh Embed
                    const data = JSON.parse(event.data);
                    // Ambil element iframe via `id`
                    const iframe = document.getElementById("naotimes-project");
                    if (data.action === "resize") {
                        iframe.height = data.height;
                        iframe.scrolling = "no";
                        iframe.style.opacity = "1";
                        // Hilangkan scrollbar
                        iframe.style.overflowY = "hidden";
                    }
                }, false);
            </script>
            <iframe id="naotimes-project" src="http://127.0.0.1:5000/embed?id=443040953087950858&accent=red&lang=en" class="frame" scrolling="no"></iframe>
        </div>
    </header>

    {{ content }}
    {% include theme_toggler.html %}
    <script>
        const callback = function (mutationsList, observer) {
            var dataTheme = document.documentElement.getAttribute("data-theme");
            var isDark = dataTheme === "dark";
            var iFrame = document.querySelector("iframe#naotimes-project");
            var currentUrl = iFrame.getAttribute("src");
            if (isDark) {
                currentUrl += "&dark=true";
            } else {
                currentUrl = currentUrl.replace(/\&dark\=true/g, "");
            };
            iFrame.setAttribute("src", currentUrl);
        }
        callback(null, null);
        const observer = new MutationObserver(callback);
        observer.observe(document.documentElement, {attributes: true});
    </script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90117853-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-90117853-5');
    </script>
    <!-- Plausible -->
    <script async defer data-domain="shigoto.n4o.xyz" src="https://tr.n4o.xyz/js/plausible.js"></script>
</body>
</html>
