<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class=" scriptsOn">
    <head>
		<link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/release.css">
    </head>
    <body id="wrapper-m" class="lightmode">
        <div class="wrapper">
        <div class="header">
            <h1>N4O - simple guy doing fansubbing works</h1>
            <ul>
                <li>
					<a href="{{ site.url }}" class="waves-effect" rel="nofollow noreferrer">home</a>
                </li>
                <li>
					<a href="{{ site.url }}/blog" class="waves-effect" rel="nofollow noreferrer">my blog</a>
                </li>
                <li>
					<a href="https://github.com/noaione" class="waves-effect" rel="nofollow noreferrer">github</a>
                </li>
                <li>
					<a href="/{% if page.linkto != 'release' %}{{ 'release/' | append: page.linkto }}{% else %}{{ page.linkto }}{% endif %}" class="waves-effect" rel="nofollow noreferrer">{{ page.linkto }}</a>
                </li>
                <li>
					<a href="https://www.facebook.com/noaione" class="waves-effect" rel="nofollow noreferrer">fb</a>
                </li>
                <li>
					<a href="http://nyaa.si/user/NoAiOne" class="waves-effect" rel="nofollow noreferrer">nyaa</a>
                </li>
                <li>
					<a href="/feed.xml" class="waves-effect" rel="nofollow noreferrer">rss</a>
                </li>
                {% if page.url == "/release/" %}
                <li>
					<a href="#progress" class="waves-effect" rel="nofollow noreferrer">progress</a>
                </li>
                {% endif %}
				<li>
					<a onClick="DarkMode()" class="waves-effect">light</a>
				</li>
            </ul>
        </div>
        <div class="blog">
        <h1>{{ page.title }}:</h1>
        {{ content }}
        </div>
        {% capture current_page %}{{ page.url | relative_url }}{% endcapture %}
        
        {% if page.url == "/release/" %}
        <div id='progress' class="progress-wrapper">
                <br>
                <h1 style="font-size:1.4em;;">Project Status</h1>
                {% include progress.html %}
        </div>
        {% endif %}
        </div>
    </body>
	<script>
		function DarkMode() {
			var body = document.getElementById("wrapper-m");
			var current = body.className;
			body.className = current == "darkmode" ? "lightmode" : "darkmode";
		}
	</script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav({
                menuWidth: 240,
                edge: 'left',
                closeOnClick: true
            });
            $(".button-project").sideNav({
                menuWidth: 240,
                edge: 'right',
                closeOnClick: true
            });
            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            });
            $('.modal').modal();
            $('.collapsible').collapsible();
            $('.tooltipped').tooltip({delay: 50});
        });
    </script>
    {% include scripts.html %}
</html>