<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class="scriptsOn">
<head>
    {% include head.html %}
	<link rel="stylesheet" href="{{ site.url }}/assets/css/rpage.css">
</head>
<body>
	<div id="outer">
		<div id="inner">
			<h1 class="header">{{ page.title }}</h1>
			<img class="thumbnail-image" src="{{ page.feature }}" alt="Screenshot" />

			{{ content }}

			<div class="infosection">
			{% if page.vainfo %}
				<h3 class="infosection info">{% if page.lang == "id_ID" %}Informasi{% else %}Information{% endif %}</h3>
				{% for inf in page.vainfo %}
					<li class="bullet_info"><strong>{{ inf.head }}:</strong> {{ inf.body }}</li>
				{% endfor %}
			{% endif %}
			{% if page.urls %}
				<h3 class="infosection link">Link</h3>
				{% for url in page.urls %}
					<li id="{{ url.id }}" class="bullet_info"><strong>{{ url.text }}</strong>{% if url.link %}: <a href="{{ url.link }}">Download</a>{% endif %}{% if url.status %} @ {{ url.status }}{% endif %}</li>
				{% endfor %}
			{% endif %}

			{% if page.staff_list %}
				<h3 class="infosection credit">{% if page.lang == "id_ID" %}Tukang Kerja{% else %}Credit{% endif %}</h3>
				{% for staff in page.staff_list %}
					<li class="bullet_info"><strong>{{ staff.work }}:</strong> {{ staff.name }}</li>
				{% endfor %}
			{% endif %}

				<h3 class="infosection other-link">{% if page.lang == "id_ID" %}Hal Lain{% else %}Other stuff{% endif %}</h3>
					<li class="bullet_info">Discord: <strong>N4O#8868</strong></li>
					<li class="bullet_info"><a href="/release">Release</a></li>
					<li class="bullet_info"><a href="https://nyaa.si/user/NoAiOne">Nyaa.si</a></li>
			{% if page.comments and site.disqus_shortname %}
			{% include disqus_comments.html %}
			{% endif %}
			</div>
		</div>
	</div>
	{% include scripts.html %}
</body>
</html>
