<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class="scriptsOn">
<head>
    {% include head.html %}
	<link rel="stylesheet" href="{{ site.url }}/assets/css/rpage.css">
</head>
<body>
	<div id="outer">
		<div id="inner">
			<h1 class="header">{{ page.title }}</h1>
			<img class="thumbnail-image" src="{{ page.feature }}" alt="Image" />

			<p><strong>Credit to:</strong> {{ page.credit }}</p>
			<p><strong>Size:</strong> {{ page.totalsize }}</p>
			{{ content }}

			{% if page.urls %}
			<div class="infosection">
				<h3 class="infosection link">Link</h3>
				{% for url in page.urls %}
					<li id="{{ url.id }}" class="bullet_info"><strong>{{ url.text }}</strong>{% if url.link %}: <a href="{{ url.link }}">Download</a>{% endif %}</li>
				{% endfor %}
			</div>
			{% endif %}

			<h3 class="infosection other-link">Other stuff</h3>
				<li class="bullet_info">Discord: <strong>N4O#8868</strong></li>
				<li class="bullet_info"><a href="/release">Release</a></li>
				<li class="bullet_info"><a href="https://nyaa.si/user/NoAiOne">Nyaa.si</a></li>
			</div>
			{% if page.comments and site.disqus_shortname %}
				{% include disqus_comments.html %}
			{% endif %}
		</div>
	</div>
	{% include scripts.html %}
</body>
</html>
