<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class="scriptsOn">
<head>
    {% include head.html %}
	<link rel="stylesheet" href="{{ site.url }}/assets/css/rpage.css">
</head>
<body>
	<div id="outer">
		<div id="inner">
			<h1 class="header">{{ page.title }}</h1>
			<img class="thumbnail-image" src="{{ page.feature }}" alt="Screenshot" />

			{{ content }}

			<div class="infosection">
			{% if page.staff_list %}
				<p id="staff" class="info-head">{% if page.lang == "id_ID" %}Tukang Kerja{% else %}Credit{% endif %}</p>
				{% for staff in page.staff_list %}
					<p class="staff-list"><strong>{{ staff.work }}:</strong> {{ staff.name }}</li>
				{% endfor %}
			{% endif %}
				
			{% if page.urls %}
				<p id="dl" class="info-head">Download</p>
				{% for url in page.urls %}
					{% if url.link %}
					<a class="btn--dl" href="{{ url.link }}" {% if url.status %}data-tooltip="@ {{ url.status }}"{% endif %}>{{ url.text }}</a>
					{% else %}
					<a class="btn--dl-disabled" {% if url.status %}data-tooltip="@ {{ url.status }}"{% endif %}>{{ url.text }}</a>
					{% endif %}
				{% endfor %}
			{% endif %}

				<p id="other" class="info-head">{% if page.lang == "id_ID" %}Hal Lain{% else %}Other stuff{% endif %}</p>
					<a class="info-img" href="https://discord.gg/d49CfCb"><img src="/assets/img/discord.png" width="35px" /></a>
					<a class="info-img" href="/release"><img src="/assets/img/favicon.png" width="32px" /></a>
					<a class="info-img" href="https://nyaa.si/user/NoAiOne"><img src="/assets/img/nyaa.png" width="32px" /></a>
					<br>
					<p style="font-size: 11.5px;"><strong>Discord</strong>: N4O#8868</p>
			</div>
			<br>
			{% include disqus_comments.html %}
		</div>
	</div>
	{% include scripts.html %}
</body>
</html>
