<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class=" scriptsOn">
    <head>
		<link rel="stylesheet" href="materialize.min.css" type="text/css" media="screen,projection" />
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/release.css">
    </head>
    <body id="wrapper-m" class="lightmode">
        <div class="wrapper">
        <div class="header">
            <h1>N4O - simple guy doing fansubbing works</h1>
            <ul>
                <li>
					<a href="{{ site.url }}" class="waves-effect" rel="nofollow noreferrer">home</a>
                </li>
                <li>
					<a href="{{ site.url }}/blog" class="waves-effect" rel="nofollow noreferrer">my blog</a>
                </li>
                <li>
					<a href="https://github.com/noaione" class="waves-effect" rel="nofollow noreferrer">github</a>
                </li>
                <li>
					<a href="/release" class="waves-effect" rel="nofollow noreferrer">release</a>
                </li>
                <li>
					<a href="https://www.facebook.com/noaione" class="waves-effect" rel="nofollow noreferrer">fb</a>
                </li>
                <li>
					<a href="http://nyaa.si/user/NoAiOne" class="waves-effect" rel="nofollow noreferrer">nyaa</a>
                </li>
                <li>
					<a href="/feed.xml" class="waves-effect" rel="nofollow noreferrer">rss</a>
                </li>
				<li>
					<a onClick="DarkMode()" class="waves-effect">light</a>
				</li>
            </ul>
        </div>
        <div class="blog">
        <h1>Tags:</h1>
        <ul>
		{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
		{% assign tags_list = site_tags | split:',' | sort %}
		
		<ul class="entry-meta inline-list">
			<li>| 
		  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
			{% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
			<a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span>: <span class="count">{{ site.tags[this_word].size }}</span></a> | 
		  {% endunless %}{% endfor %}
		  </li>
		</ul>

		{% for item in (0..site.tags.size) %}{% unless forloop.last %}
		  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
			<li>
			<h2 id="{{ this_word }}">{{ this_word }}:</h2>
				<ul>
			{% for post in site.tags[this_word] %}{% if post.title != null %}
			  <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}{% endfor %}
				</ul>
			</li><!-- /.hentry -->
		{% endunless %}{% endfor %}

		</ul>
    </body>
	<script>
		function DarkMode() {
			var body = document.getElementById("wrapper-m");
			var current = body.className;
			body.className = current == "darkmode" ? "lightmode" : "darkmode";
		}
	</script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav({
                menuWidth: 240,
                edge: 'left',
                closeOnClick: true
            });
            $(".button-project").sideNav({
                menuWidth: 240,
                edge: 'right',
                closeOnClick: true
            });
            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            });
            $('.modal').modal();
            $('.collapsible').collapsible();
            $('.tooltipped').tooltip({delay: 50});
        });
    </script>
    {% include scripts.html %}
</html>