/* N4O Website styled markdown for release page */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.5px;
}
ul {
    list-style: none;
    margin-left: 6px;
    padding-left: 6px;
}
li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "-";
    padding-right: 6px;
    font-weight: bold;
}

